/*-------------------------------------------------
STRUCTURE
-------------------------------------------------*/

/*-------------------------------------------------
HEADER
-------------------------------------------------*/

#header {
	
}

/*-------------------------------------------------
BODY
-------------------------------------------------*/

#content {
	
}

#content p {

}

#content .fileinfo {
	margin-top: 15px;
}
#content .fileinfo .fileinfo-left {
	float:left;
	width:45%;
	padding-right: 10px;
	margin-right: 10px;
	border-right:1px solid #ddd;
}
#content .fileinfo .fileinfo-right {
	float: left;
	width: 45%;
}
#content .fileinfo .fileinfo-description {
	clear: all;
	padding-top: 30px;
}
#content .fileinfo .fileinfo-description .inner {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: #eee;
	padding: 10px;
}
#content .filedownload {
	margin-top: 10px;
}
#content .filedownload h3 {
	
}
#content .filedownload ol li {
	margin-bottom: 8px;
}

#content .permalink {
	padding-top: 15px;
}
#content .permalink h3 {
	margin-bottom: 5px;
}
#content .permalink form {
	text-align: center;
}
#content .permalink .permalink-input {
	margin-top: 10px;
	width: 90%;
	font-size: 116%;
	padding: 2px;
}

/*-------------------------------------------------
FOOTER
-------------------------------------------------*/

#footer {

}
