/*-------------------------------------------------
STRUCTURE
-------------------------------------------------*/

/*-------------------------------------------------
HEADER
-------------------------------------------------*/

#header {
	margin-top: 50px;
}

#header h1 {	

}

#header h1 a {
	display: block;
	background: url('../images/logo_w456.gif') no-repeat center;
	width: 100%;
	height: 106px;
	text-indent: -3000px;
	border-bottom: none;
}

#header p {
	text-align: center;
	width: 85%;
	margin-left: auto;
	margin-right: auto;

}

/*-------------------------------------------------
BODY
-------------------------------------------------*/

#content {
	margin-top: 25px;
}

#content p {

}

#content .navigation {
	text-align: center;
	font-size: 93%;
}

#content .search{
	margin-top: 10px;
	text-align: center;
}
#content .search .searchbox {
	width: 450px;
	font-size: 138.5%;
	border: 2px solid #c33;
	border-right: none;
}
#content .search .searchsubmit {
	margin-left: -5px;
	font-size: 138.5%;
	background-color: #c33;
	border: 2px solid #c33;
	border-left: none;
	color: #fff;
}
#content .search .searchsubmit:hover {
	color: #ccc;
}

#content .usefullinks {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	
}
#content .usefullinks a {
	border-bottom: none;
}
#content .usefullinks a:hover {
	border-bottom: 1px dotted #4040D9;;
}

/*-------------------------------------------------
FOOTER
-------------------------------------------------*/

#footer {

}
